*{

}

:root {

}

.card{
    background-image: url(C:\Users\JojoW\Desktop\jan11\faq-accordion-main\faq-accordion-main\assets\images\background-pattern-desktop.svg)
    width: 12rem;
    margin: 0 auto;
    text-align: center;
} 
